# Server Configurations
NODE_ENV='development'
SERVER_PORT=5000
SERVER_HOST=localhost

# Cookie Configurations
COOKIE_SAMESITE='strict' # strict - samedomain only, lax - cross-site with some restrictions, none - cross-site cookies
COOKIE_MAX_AGE=900000 ## age in milliseconds (15 min - 15*60*1000)
COOKIE_SECURE=false # true - only send cookie over HTTPS, false - send cookie over HTTP and HTTPS

# Mongo Congigurations (Update with your MongoDB connection string)
MONGO_URI=mongodb://localhost:27017/Medical_System

# JWT Configurations
BCRYPT_SALT_ROUNDS=10
JWT_SECRET_STRING='your_jwt_secret'